@font-face {
    font-family: Lato Black;
    src: url("assets/fonts/Lato-Black.ttf");
    font-weight: bold;
    font-style: normal;


   
}

@font-face {
    font-family: Lato Black Italic;
    src: url("assets/fonts/Lato-BlackItalic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Lato Bold;
    src: url("assets/fonts/Lato-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Lato Regular;
    src: url("assets/fonts/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lato Light;
    src: url("assets/fonts/Lato-Light.ttf");
    font-weight: normal;
    font-style: normal;
}
header {

 display: block; 

}

body{
	letter-spacing: 0px;
	font-family: "Lato Light", serif;
	margin: 0px;
}
.headerBot {
	margin: auto;
    
	width: 1020px;
	height: 5px;
	background: #323746;
}
.headerMain{
	
    margin: auto ;
	width: 1020px;
	height: 89px;
	background: #2d303a;
}
.logo{
	font-weight: bold;
	float:left;
	width: 115px;
	margin-left: 41px;
	padding-top: 29px;
	margin-bottom: 30px;
	color: white;
	font-size: 24px;
}
nav  {
    padding-right: 10px;
   float:right;
   padding-top: 38px;
}
nav a:link {
  color: white; 
   
}
nav a:visited {
  color: white;
}
nav a:hover {
  color: #f06c64; 
  
}
nav a:active {
  color: #f06c64; 
  
}
nav a {text-decoration: none;
font-family: "Lato Regular", serif;
font-size: 12px;

    padding-right: 29px;

}

nav a:not(:last-child)::after {
    content: "\2022";
    font-size: 12px;
    color: #494e62;
    padding: 3px 13px;
    position: absolute;
}
.services-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: -20px;
}
.services-columns > div {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}
.Slider {

   
   	display: table;
	margin: auto ;
	width: 1020px;
	height: 595px;
	background-color:  #f06c64;
}
.SliderBot{
	margin: auto;
    
	width: 1020px;
	height: 5px;
	background: #ea676b;
}
.services-block h1 {

    margin-top: 25px;

    margin-bottom: 25px;

    font-family: Lato Black, monospace;
    font-size: 30px;
}
.services-block > p:first-of-type {
    word-spacing: 1.13px;
    margin-bottom: -2px;
    padding-top: 1px;
    text-align: justify;
    width: 940px;
    height: 15px;
    overflow: hidden;
}
.services-block > p {
    text-align: justify;
    width: 940px;
    height: 14px;
    overflow: hidden;
    font-size: 18px;
    line-height: 14px;
}
.services-block {
	margin: auto;
    
	width: 940px;
    position: relative;
    font-family: Lato Light, monospace;
    height: 426px;
    color: #666d89;
    background-color: #f2f2f2;
    padding: 34px 40px;
}
.icon-pencil {
    background-image: url("assets/pen.png");
}
.icon-bulb {
    background-image: url("assets/bulb.png");
}
.icon-heart {
    background-image: url("assets/heart.png");
}
.icon-phone {
    background-image: url("assets/phone.png");
}
.icon-bubble {
    background-image: url("assets/bubble.png");
}
.icon-star {
    background-image: url("assets/star.png");
}

.icon-bg {
    width: 55px;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #666d89;
    border-radius: 50%;
    margin-top: 11px;
}
.services-columns > div div:last-child {
    padding-left: 20px;
    margin-right: 3px;
}
.services-columns > div h4 {
    font-family: Lato Black, monospace;
    font-size: 18px;
    padding-top: 32px;
    margin: 0;
}
.services-columns > div p {
    font-family: Lato Regular, monospace;
    font-size: 12px;
    line-height: 21px;
    
    margin-bottom: -4px;
    margin-top: 10px;
}
.pf {
    font-size: 1em;
    letter-spacing: 0.4px;
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
    margin: auto;
    
    color: #666d89;
}
.pfbot {

    width: 1020px;
    height: 7px;
    background-color: #323746;
    margin: auto;
}
.art {
    
    width: 220px;
    height: 187px;

}
.art_gallery{
    height: 601px;
    width: 940px;
    overflow: hidden;
    padding-top: 19px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}
.filter button {
    font-family: Lato Light, monospace;
    text-decoration: none;
    color: #666d89;
    background-color: transparent;
    border: 1px solid #666d89;
     border-radius: 5px;
     font-size: 12px;
}


.filter button:hover {
    color: white;
    border: 1px solid #c5c5c5;
     border-radius: 5px;
}
.f{
    line-height: 18px;
    margin-right: 7px;
}
.about_us{
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    margin: auto;
}
.about_us_bot{
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
    margin: auto;
}
.us {

    padding-top: 50px;

    padding-left: 40px;
    display: grid;
grid-template-columns: 300px 300px 300px;
grid-column-gap: 20px;
}
.name{
    padding-top: 9px;
    font-family: Lato Black, monospace;
    font-size: 18px;

}
.info{
    padding-top: 8px;
    letter-spacing: 0.08px;
    font-family: Lato Light, monospace;
    font-size: 12px;

}
.links {
    
    padding-top: 28px;
}
.us .links img:hover {
    
     border-radius: 15px;
     box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
.quote {
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
    margin: auto;
}
.quotebot {
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
    margin: auto;
}
.quote input {
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    height: 36px;
    width: 620px;
    font-size: 12px;
    line-height: 12px;
    color: #f0d8d9;
    background-color: #d6564f;
    letter-spacing: 0.08px;
    font-family: Lato Light, monospace;
    font-size: 12px;
    padding-left:10px;box-sizing:border-box;

}
.bigone input{
    margin-bottom: 16px;
    padding: 15px 15px 190px 10px;
}

.quote input::placeholder{
    position: relative;

   
    letter-spacing: 0.08px;
    font-family: Lato Light, monospace;
    font-size: 12px;
    color: #f48c8f;
}
.bigone input::placeholder {
    
}
.quote button {
    background-color: #d6564f;
    letter-spacing: 0.08px;
    font-family: Lato Light, monospace;
    font-size: 12px;
    color: #f0d8d9;
    border: none;
    border-radius: 5px;
    height: 36px;
    width: 69px;
}
.cont_inf {
    float: right;
    
    font-family: Lato Light, monospace;
    font-size: 12px;

    margin-right: 42px;

    margin-top: 48px;

}
.cont_inf a{
    
    letter-spacing: 0.08px;
    font-family: Lato Light, monospace;
    font-size: 12px;

    color: #f0d8d9;
    text-decoration: none;
    margin-top: 48px;

}
footer {
    color: #666d89;
    font-size: 12px;
    margin:auto;
    width: 1020px;
    height:  76px;
    background-color: #2d303a;
}
footer .links img:hover {
    
     border-radius: 20px;
     box-shadow: 0 0 17px white;
}
footer .links {
    padding-top: 22px;
    padding-right: 40px;
}
.strlk img:hover {
    border-radius: 20px;
     box-shadow: 0 0 20px white;
}
.services-columns p{
    text-align: justify;
    width: 220px;
    height: 64px;
    overflow: hidden;
}